#rutas {
    display: flex;
    justify-content: center;
    margin: 100px 0px;
}

.rutas-wrapper {
    display: inline-block;

    .mat-form-field {
        width: 100%;
        min-width: 300px;
    }

    .btnVolver {
        margin: 0 10px;
    }
}