<div class="titulo">
    <h1 fxFlex="100">Dashboard</h1>
</div>

<div class="container center">
    <mat-card class="item-card envios">
        <mat-card-title-group>
            <mat-card-title class="text">Envios</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <span class="total">{{totalEnvios}}</span>
        </mat-card-content>
    </mat-card>

    <mat-card class="item-card rutas">
        <mat-card-title-group>
            <mat-card-title class="text">Rutas</mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
            <span class="total">{{totalRutas}}</span>
        </mat-card-content>
    </mat-card>
</div>