<mat-toolbar color="primary">
    <span>TP Luis Parada - Ruteador</span>

    <button *ngIf='auth.accessToken' class="links" [routerLink]="'/envios/consulta-envios'" mat-flat-button
        color="accent">Envíos</button>
    <button *ngIf='(auth.accessToken)' class="links" [routerLink]="'/rutas/consulta-rutas'" mat-flat-button
        color="accent">Rutas</button>
    <button *ngIf='(auth.accessToken)' class="links" [routerLink]="'/dashboard'" mat-flat-button
        color="accent">Dashboard</button>

    <button *ngIf="(auth.accessToken)" class="links btnSalir" (click)="logout()" mat-flat-button
        color="warn">Salir</button>

</mat-toolbar>


<router-outlet></router-outlet>